#container {
    margin: auto;
    padding: 50px;
}

#title {
    text-align: center;
}

.question {
    margin: 10px auto;
    padding: 10px;
    border: 2px solid black;
    text-align: center;
}

.question .answer {
    width: 50%;
    background-color: steelblue;
    border: lightblue;
    color: white;
    margin: 25px auto;
    padding: 10px;
    cursor: pointer;
    user-select: none;
}

.question .answer:hover {
    background-color: lightblue;
    border: steelblue;
}

.question .answer:active {
    background-color: darkblue;
    border: steelblue;
}

.question .answer[selected] {
    background-color: green;
    border: lightgreen;
    color: black;
    cursor: initial;
}

.button {
    border: 2px solid black;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    background-color: greenyellow;
    font-weight: bold;
    user-select: none;
}

.button:hover {
    border: 2px solid black;
    padding: 5px;
    text-align: center;
    cursor: pointer;
    background-color: green;
}

#submit {
    width: 120px;
    height: 32px;
    margin: 10px auto;
}

#submit:active {
    width: 110px;
    height: 30px;
}